@font-face {
  font-family: "Alagard";
  src: url(assets/fonts/alagard.ttf) format("truetype");
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
}

.console {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.screen {
  position: absolute;
  border-radius: 1vw;
  background-color: rgb(240, 232, 223);
  font-family: 'Alagard', sans-serif;
  overflow-y: auto;
}


.question {
  color: rgb(0, 0, 0);
  border: none;

  padding: 24px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

/* Portrait: aspect ratio less than 3:4 */
@media (max-aspect-ratio: 3/4) {
  .console {
    background-image: url(assets/consoles/portrait.webp);
    width: 140vw;
    left: -17vw;
    margin-top: -4vw;
    aspect-ratio: 925 / 1024;
  }

  .screen {
    width: 60.5vw;
    height: 97vw;
    left: 37vw;
    top: 29.5vw;
  }
  
  .answers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}

/* Landscape: aspect ratio greater than 4:3 */
@media (min-aspect-ratio: 4/3) {
  .console {
    width: 115vw;
    margin-left: 1vw;
    margin-top: -4vw;
    aspect-ratio: 1521 / 861;
    background-image: url(assets/consoles/landscape.webp);
  }

  .screen {
    width: 73vw;
    height: 48vw;
    left: 20.5vw;
    top: 6.4vw;
  }
}

/* Square: aspect ratio between 3:4 and 4:3 */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) {
  .console {
    background-image: url(assets/consoles/square.webp);
    width: 140vw;
    margin-left: 4vw;
    margin-top: -4vw;
    aspect-ratio: 1248/1707;
  }

  .screen {
    width: 74.5vw;
    height: 75vw;
    left: 34.5vw;
    top: 56.5vw;
  }
}

button {
  border: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 20px;
  font-family: 'Alagard', sans-serif;
  font-size: 16px;
  transition: background 200ms;
}

button:hover {
  cursor: pointer;
  background-color: rgb(198, 193, 253);
}

p {
  margin: 0 0 12px;
  font-size: 30px;
}

.result {
  padding: 24px;
}